/*
    HEMISFERIO.SPACE
*/
@import url("normresest.css");
/*@import url("f/font_style.css");*/
html, body {
    height: 100%;
}
body {
	color: #1a1a1a;
	font: normal 300 16px/1 "Times New Roman", Times, serif;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}
/*special type selector by abc*/
body.ta .sp {font-family: 'Jaguares'; font-size: .82em;}
body.tb .sp {font-family: 'NuevoEspiritu'; font-size: .58em;}
body.tc .sp {font-family: 'Abono'; font-size: .65em;}
body.td .sp {font-family: 'Times New Roman'; font-size: 1em;}


body.focus header {height: 0; overflow: hidden; padding: 0;}

a {
    color: #1a1a1a;
}
.ptp {
    width: 100%;
    height: 60px;
    text-indent: -9999px;
    background: url(img/piedratijerapapel.svg) no-repeat 50% 50%;
    background-size: 47px;
}
/**/
section {
    height: 100vh;
    overflow-x: hidden;
    border-left: 4px solid #00DBFF;
    
     -webkit-transition: .52s linear width;
	-o-transition: .52s linear width;
	transition: .52s linear width;
}
section:first-of-type { border-left: none;}
header {
    width: 100%;
    height: 82vh;
    font-size: 7.3vh;
    padding: 1em 1em 0;
    
    -webkit-transition: .52s linear height;
	-o-transition: .52s linear height;
	transition: .52s linear height;
}
header.cont-show {
    height: 0;
    padding: 0;
    overflow: hidden;
}
header p a {
    display: inline-block;
    position: relative;
}
header p a:before, 
nav .mixer a:before {
    content: '';
    display: block;
    height: 2px; 
    width: 100%;
    position: absolute;
    top: 60%;
    left: 0;
    background: transparent;
}
nav .mixer a:before {
    top: 46%;
}
header p a:hover:before,
header p a.hover:before,
nav .mixer a:hover:before,
nav .mixer a.hover:before{
    /*background: #00DBFF;*/
}
header p a:hover,
header p a.hover{
    /*opacity: .4; cuando se aplica la transformación y  gira,  salta la imagen*/
    color: #a2a2a2;
}
nav .mixer a:hover span {
    filter: invert(.4);
}
header p a.activo {
    transform: rotate(180deg);
}
.tb header p a {top: -.20em;}
.tb header p a.activo {top: -.33em;}

.tc header p a.activo {top: .25em;}
.td header p a.activo {top: .25em;}

.ta .sp,
.tb .sp,
.tc .sp {
   text-transform: uppercase;
}
.td header p a,
.td .call h2.sp{
    text-transform: lowercase;
    font-style: italic;
}
header .nota {
    max-width: 82%;
    font-size: 0.450em;
    margin-top: 2em;
}

header p {
    font-weight: bold;
}
/*background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 30'><path d='M21.7 18.8c1.1-1.7 1.8-3.8 1.8-6.1 0-6.3-5.1-11.3-11.4-11.3C5.9 1.4.8 6.5.8 12.8c0 6.3 5.1 11.3 11.4 11.3 3.3 0 6.4-1.5 8.4-3.8l11.3 8.2 1.3-1.3-11.5-8.4zm-9.4 3.1c-5 0-9-4-9-9s4-9 9-9 9 4 9 9-4.1 9-9 9z'/></svg>") no-repeat 62% 50%;*/
.busqueda.icn {
    width: 100%;
    height: 52px;
    cursor: pointer;
    position: relative;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
}
.busqueda.icn:before,
.busqueda.icn:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    background: #000;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate(-50%, -50%)  rotate(-45deg);
    -ms-transform: translate(-50%, -50%)  rotate(-45deg);
    transform: translate(-50%, -50%)  rotate(-45deg);
    -webkit-transition: .32s linear all;
	-o-transition: .32s linear all;
	transition: .32s linear all;
}
.busqueda.icn span {
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
    border-radius: 100%;
    margin-top: -5px;
}
.busqueda.icn:before {
    margin-top: 5px;
    margin-left: 10px;
}
.busqueda.icn:after {
    height: 0;
    -webkit-transform: translate(-50%, -50%)  rotate(45deg);
    -ms-transform: translate(-50%, -50%)  rotate(45deg);
    transform: translate(-50%, -50%)  rotate(45deg);
}
.busqueda.icn.ing:before,
.busqueda.icn.ing:after {
    margin: 0;
    height: 30px;
}
.busqueda.icn.ing span {
    margin: 0;
}
.busqueda.icn.ing:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.busqueda.icn:hover:before,
.busqueda.icn:hover:after{
    filter: invert(.4);
}
nav {
    position: fixed;
    font-size: 42px;
    top: 50vh;
    left: 82%;
    width: 78px;
    z-index: 10;
    cursor: move;
    background: #FAEDC2;
}
nav a {
    display: block;
    height: 46px;
    width: 100%;
    padding: .22em 0;
    position: relative;
}
nav a.hover span {
   opacity: .4;
}
nav .mixer {
    text-align: center;
    padding: 0 10px;
}
body.tb nav {font-size: 40px;}
body.tb nav a {padding: .5em .32em;}

body.tc nav {font-size: 40px;}
body.tc nav a{padding: .25em .25em .5em;}

body.td nav {font-size: 31px;}
body.td nav a {text-transform: lowercase; padding: .07em .22em .38em;}

nav .mixer li:first-child {border-color: #000;}
nav .mixer li:last-child  {border-bottom: none;}
nav .mixer li {
    display: block;
    border-bottom: 1px solid #00DBFF;
}
nav .mixer a span {
    display: block;
    width: 46px;
    height: 46px;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: .5;
    
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .52s linear transform;
	-o-transition: .52s linear transform;
	transition: .52s linear transform;
    background-image: url(img/sprite_mixer.png);
    background-repeat: no-repeat;
    background-size: 184px;
}
body nav .mixer li:nth-child(5) {background:#8200ff;}
/*Jaguares*/
nav .mixer a[data-action="archivo"] span {background-position: 0 0;}
nav .mixer a[data-action="hilo"] span    {background-position: 0 -46px;}
nav .mixer a[data-action="tienda"] span  {background-position: 0 -92px;}
nav .mixer a[data-action="oficina"] span {background-position: 0 -138px;}
/*NuevoEspiritu*/
body.tb nav .mixer a[data-action="archivo"] span {background-position: -46px 0;}
body.tb nav .mixer a[data-action="hilo"] span    {background-position: -46px -46px;}
body.tb nav .mixer a[data-action="tienda"] span  {background-position: -46px -92px;}
body.tb nav .mixer a[data-action="oficina"] span {background-position: -46px -138px;}
/*Abono*/
body.tc nav .mixer a[data-action="archivo"] span {background-position: -92px 0;}
body.tc nav .mixer a[data-action="hilo"] span    {background-position: -92px -46px;}
body.tc nav .mixer a[data-action="tienda"] span  {background-position: -92px -92px;}
body.tc nav .mixer a[data-action="oficina"] span {background-position: -92px -138px;}
/*times*/
body.td nav .mixer a[data-action="archivo"] span {background-position: -138px 0;}
body.td nav .mixer a[data-action="hilo"] span    {background-position: -138px -46px;}
body.td nav .mixer a[data-action="tienda"] span  {background-position: -138px -92px;}
body.td nav .mixer a[data-action="oficina"] span {background-position: -138px -138px;}

nav .mixer a.activo span {
    display: inline-block;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
}
/*-----Contenido---*/
.content {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1200px;
}
article {
    padding: 0 0 1rem;
    /*scroll-snap-align: start;*/
}
article:first-of-type {}
article:last-of-type {
    /*margin-bottom: 8vh;*/
	/*padding-bottom: 8vh;*/
    /*border-bottom: 4px solid;*/
}
.images li {
    padding-bottom: 1em;
}
.btn {
    color: red;
    padding: 1em;
    border: 2px solid;
    padding: 1rem 2.5rem;
    border: 2px solid;
    display: block;
    text-align: center;
    margin: 1rem;
    font-size: 1.3em;
    cursor: pointer;
}
.btn:hover {
    background: red;
    color: #fff;
}
section h1 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}
article[class^="post"] p {
    margin-bottom: 1em;
}
blockquote {
    padding: 1em;
    padding-left: 3em;
    border-bottom: 2px solid;
    margin: 1em;
}
.content-section {
    display: flex;
    width: 100%;
    background: #FFF;
    z-index: 1;
}
section {
    position: relative;
    overflow: hidden;
}
section:not(.show) .content-scroll {
    width: 0;
    overflow: hidden;
}
section.show {
    width: auto !important;
}
section.show .content-scroll {
	padding: .6rem 1rem 30vh;
}
section:not(.show) .call {
    transform: rotate(90deg);
    transform-origin: 0 100%;
}
.call {
    /*-webkit-transition: 1.23s linear transform;*/
	/*-o-transition: 1.23s linear transform;*/
	/*transition: 1.23s linear transform;*/
    font-size: 50px;
    /*line-height: 1.3;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%; */
}
.call.activo {
   padding: .45em .15em .3em;
}
.call h2.sp {
    font-weight: normal;
    text-align: left;
    position: relative;
    text-transform: uppercase;
}
.content-scroll{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	/*scroll-snap-type: y proximity;*/
    margin-right: -20px;
}
/**/
#busquedabloque,
#tagbloque {
    z-index: 12;
}
.busquedacaja, 
.busquedabarra,
.tagcaja {
    top: 1em;
    right: 1em;
    width: 88%;
    background: #faedc1;
    
    transform: translateX(110%);
     -webkit-transition: .72s linear transform;
	-o-transition: .72s linear transform;
	transition: .72s linear transform;
}
.busquedacaja,
.tagcaja {
    position: absolute;
	min-height: 52px;
    max-height: 100vh;
    max-height: calc(100vh - (1rem));
    overflow: hidden;
}
.busquedacaja .resultados,
.tagcaja .tagseleccionados {
    height: 100%;
    margin-right: -20px;
    /*padding: 14vh 10vh;*/
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.tagcaja .tagseleccionados [role="tag-archive"] {
	padding: 60px 1.5rem;
	height: 100vh;
}
#busquedabloque.show .busquedacaja,
#busquedabloque.show .busquedabarra,
#tagbloque.show .tagcaja {
    transform: translateX(0);
}
.tagcaja .tags {
	display:none;
}
.busquedabarra,
.tagbarra {
    position: fixed;
    z-index: 12;
}
.tagbarra {
	width: 100%;
    height: 52px;
    background: #faedc1;
    padding: .8rem;
}
.tagbarra h1 {
	font-size: 1.4em;
}
.busqueda.hacer {
    width: 58px;
    height: 52px;
    text-indent: -9999px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 30'><path d='M21.7 18.8c1.1-1.7 1.8-3.8 1.8-6.1 0-6.3-5.1-11.3-11.4-11.3C5.9 1.4.8 6.5.8 12.8c0 6.3 5.1 11.3 11.4 11.3 3.3 0 6.4-1.5 8.4-3.8l11.3 8.2 1.3-1.3-11.5-8.4zm-9.4 3.1c-5 0-9-4-9-9s4-9 9-9 9 4 9 9-4.1 9-9 9z'/></svg>") no-repeat 62% 50%;
    background-size: 28px;
    border: none;
    cursor: pointer;
}
.busquedabarra form {
    display: flex;
}
.busquedabarra input {
    width: 100%;
    border: none;
    background: none;
    font-size: 1.6em;
}
.cerrar {
    width: 58px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background: #faedc1;
    line-height: 58px;
    font-size: 2em;
	cursor: pointer;
}
.cerrar span {
    display: inline-block;
    -webkit-transition: .32s linear transform;
	-o-transition: .32s linear transform;
	transition: .32s linear transform;
}
.cerrar:hover span {
    transform: rotate(270deg);
}
/*custom scroll*/
#archivo ul {
    height: 100%;
    display: flex;
    flex-flow: column  wrap;
    flex-flow: wrap;
    padding: 1em;
}
#archivo li {
    padding: 0 0 8px 8px;
}
#archivo li img {
    height: 100%;
}
.galeria {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.galeria img {width: 100%;}
.galeria .c2 {display: flex;}
.galeria .c2 div {width: 50%;}

[class*=col-] {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
}
[class*=col-12] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
[class*=col-8] {
    -webkit-flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}
[class*=col-4] {
    -webkit-flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}
.col-gal.a {
    width: 68%;
}
.col-gal.b {
    width: 32%;
}
.galeria.tipo-a [class*=col-8] {
    padding-right: .16em;
}
.gutter.gutter-horizontal {
    margin-right: -7px;
    position: relative;
    z-index: 2;
	cursor: col-resize;
}
.gutter.gutter-horizontal:before {
    content: '';
    position: absolute;
    top: 2vh;
    left: -14px;
    width: 37px;
    height: 16px;
    background: url(img/noun_triangle_3237230.png);
    opacity: 0;
    background-size: contain;
}
.gutter.gutter-horizontal:hover:before {
    opacity: 1;
}


/*LOADER LOADER LOADER LOADER LOADER LOADER */
.load {
	display: flex;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	font-size: 1.8em !important;
    align-items: center;
    justify-content: center;
}
.td .load {
	font-size: 2.5em !important;
	font-style: italic;
}
.load:before,
.load:after {
	content: attr(data-load);
	display: block;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
    -webkit-animation: loadingeffect 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            animation: loadingeffect 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	z-index: 1;
}
.load:before {
	position: absolute;
	color: #00000069;
	animation-delay:.15s;
}
.view-article {display:none;}
.load span {
	display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    margin: -.6em;
    padding: .6em;
}
@-webkit-keyframes loadingeffect {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
@keyframes loadingeffect {
  to {transform: rotate(360deg); transform: rotate(360deg);}
}
article[class^="post"] p { 
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrMltEJwCAMRIOTOUr2X6It2I9iS4mae21AEMV7EE28Yi2q6aNeJ9sxXAjzk1H7BRfCPLyhgCmgYa0M6LDGCnT67MzB5eyMCKTdf0Qo/YW/Ccpq+ElY2TBuADmsh07Biv080JSijwYtC7Tw0daGNm/0e0I/YNRioCYKtYmfGGHM6u8CDABh1FcTKzO2kQAAAABJRU5ErkJggg=='), auto;
	/*cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANdJREFUeNrsmcsNgCAQRI0VWAolWIqdWoolWIJ64GSMILAwL7LJxgtxXgif2WUYevSICnfl5r/SXONtwHTlKgTuPM8UGrT7dALA0SwK4EkMLcGztFuAF9GsCV5Uqwa4iYYluOmkWPy8yvIrKVJ1o5cQa3Kk5og2vbxSxCVswhcIJV8TBSMFHAMlCfwGJw38BL4QgO/ghxXw2Etj4PLAbUTckYe7XHDXOM4w4awprgjAlVu4whbXQsA1a3BtMVwDEtfqxTXVcc8XihYyyDSLmnXVp8IfxCnAACGhp1CyXRF3AAAAAElFTkSuQmCC'), auto;*/}

/*contenido columnas*/
article p a {display: inline-block; filter: invert(.6);}
.post-link { display: block; padding-bottom: 1em;}
.post-info {margin-bottom: .5em;}
.post-info h2 {font-size: 1.25em;}
.post-info .date {font-size: .8em;}
.tags {font-size:.9em;}
.tags a {text-transform:capitalize;}
.post-list li[data-post] {position:relative; /*scroll-snap-align: start;*/margin-bottom: 2.2em; padding-bottom: .6em; border-bottom: 2px solid #00DBFF;}
.bottom-post-arrow {display: block; width: 100%; height: 20px; position: absolute; bottom: -10px; cursor: pointer;}
.post-list li[data-post]:after {content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 16px;
    height: 16px;
	transform: rotate(270deg);
    background: url(img/noun_triangle_3237230.png);
    opacity: 0;
    background-size: 37px;}
.post-list li[data-post]:hover:after {opacity:1;}
.post-list li[data-post].open:after {transform: rotate(90deg); opacity:1;}

.ajax-load-more-wrap {transition: transform .33s linear;}
section.view-tags .ajax-load-more-wrap {position: absolute; transform: translateX(-120%);}
.attachment-thumbnail {margin-bottom: .5em;width: 100%;display: block;}

/*1280 x 698*/
@media screen and (orientation: portrait) {
}
/*480*/
@media screen and (min-width: 30em){
	body {text-rendering: optimizeSpeed;}	
}
/*768*/
@media screen and (min-width: 48em){	
}
/*960*/
@media screen and (min-width: 60em){
}
/*1240*/
@media screen and (min-width: 76em){	
}
/*1440*/
@media screen and (min-width: 90em){
}
/*1280*/
@media screen and (max-width: 80em){	
}
/*1216*/
@media screen and (max-width: 76em){
}
/*960*/
@media screen and (max-width: 60em){
}
/*640*/
@media screen and (max-width: 40em){
}
@media screen and (max-width: 76em) and (orientation: portrait) {
    header {
    font-size: 4.3vh;
    }
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#ff2400;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#ff2400;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#ff2400;
	color:#FFF;
	text-shadow:none;
}
/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print{*{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

/*FANCYBOX*/
body.compensate-for-scrollbar{overflow:hidden}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.9;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:transform,opacity;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:hidden;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px}.fancybox-content{background:#fff;display:inline-block;margin:0;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;transform-origin:top left;transition-property:transform,opacity;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;width:100%}.fancybox-iframe{left:0;position:absolute;top:0}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;box-shadow:none;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;position:relative;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:hover{color:#fff}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button div{height:100%}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:first-child,.fancybox-button--pause svg:first-child,.fancybox-button--play svg:nth-child(2){display:none}.fancybox-progress{background:#ff5268;height:2px;left:0;position:absolute;right:0;top:0;transform:scaleX(0);transform-origin:0;transition-property:transform;transition-timing-function:linear;z-index:99998}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-slide--image.fancybox-is-scaling .fancybox-content{overflow:hidden}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background-clip:content-box;height:100px;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;left:env(safe-area-inset-left);padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0;right:env(safe-area-inset-right)}.fancybox-caption{background:linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);bottom:0;color:#eee;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:75px 44px 25px;pointer-events:none;right:0;text-align:center;z-index:99996}@supports (padding:max(0px)){.fancybox-caption{padding:75px max(44px,env(safe-area-inset-right)) max(25px,env(safe-area-inset-bottom)) max(44px,env(safe-area-inset-left))}}.fancybox-caption--separate{margin-top:-50px}.fancybox-caption__body{max-height:50vh;overflow:auto;pointer-events:all}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{animation:a 1s linear infinite;background:transparent;border:4px solid #888;border-bottom-color:#fff;border-radius:50%;height:50px;left:50%;margin:-25px 0 0 -25px;opacity:.7;padding:0;position:absolute;top:50%;width:50px;z-index:99999}@keyframes a{to{transform:rotate(1turn)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0}.fancybox-close-small{right:-6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}.fancybox-caption{padding-left:12px;padding-right:12px}@supports (padding:max(0px)){.fancybox-caption{padding-left:max(12px,env(safe-area-inset-left));padding-right:max(12px,env(safe-area-inset-right))}}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#ddd;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:rgba(0,0,0,0);top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:6px solid #ff5268;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:576px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}