@font-face {
    font-family: 'Jaguares';
    src: url('jaguares.eot');
    src: url('jaguares.eot?#iefix') format('embedded-opentype'),
        url('jaguares.woff2') format('woff2'),
        url('jaguares.woff') format('woff'),
        url('jaguares.ttf') format('truetype'),
        url('jaguares.svg#jaguares') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NuevoEspiritu';
    src: url('NuevoEspiritu.eot');
    src: url('NuevoEspiritu.eot?#iefix') format('embedded-opentype'),
        url('NuevoEspiritu.woff2') format('woff2'),
        url('NuevoEspiritu.woff') format('woff'),
        url('NuevoEspiritu.ttf') format('truetype'),
        url('NuevoEspiritu.svg#NuevoEspiritu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abono';
    src: url('Abono.eot');
    src: url('Abono.eot?#iefix') format('embedded-opentype'),
        url('Abono.woff2') format('woff2'),
        url('Abono.woff') format('woff'),
        url('Abono.ttf') format('truetype'),
        url('Abono.svg#Abono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

